body {
  margin: 0;
  padding: 0;
  font-family: 'YourDinerFont', sans-serif;
}

.App {
  text-align: center;
  color: red;
  background-image: url('https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/KUFWIPXROII6ZLAWR67XDFGNPA.jpg&w=1200');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; 
  background-attachment: fixed;
  height: 300vh; 
}

.dreamy {
  font-size: 65px;
  font-style: italic;
  font-family: cursive; 
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  -webkit-text-stroke: 2px yellow;
  text-stroke: 2px yellow;
  color: red;
}
 
.navbar-container{
  display: flex;
  justify-content: space-around; 
  background-color: #e08776; 
  padding: 10px; 
}


.recipe-link {
  display: block;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.recipe-link:hover {
  background-color: #f0f0f0;
}

.recipe-image {
  max-width: 100%; 
  max-height: 300px; 
  width: auto; 
  height: auto; 
  margin: 0 auto;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.recipe-link {
  background-color: rgb(173, 224, 69);
  font-weight: bold;
}

label {
  background-color: rgba(156, 235, 125, 0.963);
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  display: inline-block; 
}

.recipe-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: auto; 
  width: 80%;                       
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}